<% include ./__header_v.ejs %>

<script>
	$(document).ready(function() {
		// $("#moreCategory").click(function() {
			// var target = $(this).attr("data-sts");
// 			
			// if(target == "0") {
				// $(".productCategory").addClass("cate_list").css({height:"auto"});
				// $(this).attr("data-sts","1").val("－");
			// } else {
				// $(".productCategory").removeClass("cate_list").css({height:"25px"});
				// $(this).attr("data-sts","0").val("＋");
			// }
		// });
		$("#moreBrand").click(function() {
			var target = $(this).attr("data-sts");
			if(target == "0") {
				$("#productBrand").show();
				$(this).attr("data-sts","1").val("－");
			} else {
				$("#productBrand").hide();
				$(this).attr("data-sts","0").val("＋");
			}
		});
	});
</script>

<div id="demo_main" class="container">
	<!-- 상세검색 -->
	<form id="userAttr" action="/main" method="get">
		<% for (var key in userdata) { %>
		<input type="hidden" name="<%=key%>" value="<%=userdata[key]%>" />
		<% } %>
	</form>
	
	<div class="top_result">
		<input type="hidden" id="dataSwitch" value="<%=first_num%>" />
		<div class="choice_category">
			
			<table class="form-table horizontal">
				<colgroup>
					<col width="200" />
					<col width="340" />
					<col width="200" />
					<col width="340" />
				</colgroup>
				<tbody>
					<tr id="brand" style="display:none;">
						<th class="verti_t">
							브랜드
							<input type="button" value="＋" data-sts="0" id="moreBrand" class="btn_transparent more" />
						</th>
						<td colspan="3">
							<ul id="mainBrand" class="after_clear choice_list"></ul>
							
							<!-- 브랜드 더보기 -->
							<div id="productBrand" class="more_brand" style="display:none;">
								<ul class="after_clear choice_list"></ul>
							</div>
						</td>
					</tr>
					<tr>
						<th class="verti_t">카테고리 분류</th>
						<td colspan="3">
							<ul class="productCategory after_clear choice_list cate_list"><!--cate_list-->
								<li>
									<span class="choice_detail cate_class" data-key="header" data-value="M" onclick="choice_detail(this, 'M');">남성</span><!--choice_detail(this);-->
								</li>
								<li>
									<span class="choice_detail cate_class" data-key="header" data-value="W" onclick="choice_detail(this, 'M');">여성</span>
								</li>
							</ul>
						</td>
					</tr>
					
					<tr id="category_M" style="display:none;">
						<th class="verti_t">카테고리 중</th>
						<td colspan="3">
							<ul class="productCategory after_clear choice_list"><!--cate_list--></ul>
						</td>
					</tr>
					<tr id="category_S" style="display:none;">
						<th class="verti_t">카테고리 소</th>
						<td colspan="3">
							<ul class="productCategory after_clear choice_list"><!--cate_list--></ul>
						</td>
					</tr>
					
					
				</tbody>
				<tbody id="poc_attr" style="display:none;">
					<!-- 옴니어스poc 속성 -->
					<% for (var name in attr) { %>
					<tr id="<%=name%>">
						<th><%=attr[name]%></th>
						<td colspan="3">
							<ul class="after_clear choice_list"></ul>
						</td>
					</tr>
					<% } %>
				</tbody>
				
				
				<!-- <tr style="display:none;">
					<th>배송정보</th>
					<td>
						<span class="d_ib">
							<input type="radio" id="deliveryInCont" name="deliveryCont" class="form-check" />
							<label for="deliveryInCont" class="ctm_check">국내배송</label>
						</span>
						
						<span class="d_ib">
							<input type="radio" id="deliveryOutCont" name="deliveryCont" class="form-check" />
							<label for="deliveryOutCont" class="ctm_check">해외배송</label>
						</span>
					</td>
					<th>상품상태</th>
					<td>
						<span class="d_ib">
							<input type="radio" id="newProduct" name="stsProduct" class="form-check" />
							<label for="newProduct" class="ctm_check">새제품</label>
						</span>
						
						<span class="d_ib">
							<input type="radio" id="usedProduct" name="stsProduct" class="form-check" />
							<label for="usedProduct" class="ctm_check">중고제품</label>
						</span>
					</td>
				</tr>
				<tr style="display:none;">
					<th>가격</th>
					<td colspan="3">
						<input type="text" class="form-text product_price" placeholder="최소가격"/>
						<span>~</span>
						<input type="text" class="form-text product_price" placeholder="최대가격"/>
					</td>
				</tr> -->
				<tbody>	
					<tr>
						<td colspan="4" class="bg_gray">
							<div class="del_all fl">
								<input type="button" value="전체삭제" class="btn_transparent c_gray9" onclick="window.location.reload();"/>
							</div>
							<ul id="searchFinal" class="after_clear choice_list fr"></ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- 검색결과 리스트 -->
	<div class="result_search" style="padding-bottom:50px;">
		<div class="search_top">
			<span class="txt_total d_ib">전체상품 <strong>0</strong>개</span>
			<!-- <span class="d_ib">
				<input type="radio" id="rsUpdate" name="orderResult" class="form-check" />
				<label for="rsUpdate" class="ctm_check">업데이트순</label>
			</span>
			<span class="d_ib">
				<input type="radio" id="rsNew" name="orderResult" class="form-check" />
				<label for="rsNew" class="ctm_check">최신등록순</label>
			</span>
			<span class="d_ib">
				<input type="radio" id="rsLowPrice" name="orderResult" class="form-check" />
				<label for="rsLowPrice" class="ctm_check">낮은가격순</label>
			</span>
			<span class="d_ib">
				<input type="radio" id="rsHighPrice" name="orderResult" class="form-check" />
				<label for="rsHighPrice" class="ctm_check">높은가격순</label>
			</span> -->
		</div>
		
		<div class="search_list">
			<ul id="resultProduct" class="after_clear">
				<!-- <% for (var i=0; i<0; i++) { %>
				<li>
					<div class="box_product">
						<a href="" target="_blank" class="d_b">
							<span class="product_image d_b">
								<img src="public/img/img_no_view.gif" alt="상품이미지" />
							</span>
							
							<span class="product_txt d_b">
								<span class="txt_brand d_b">BRANDNAME</span>
								<span class="txt_name ellipsis2 d_b">PRODUCTNAME</span>
								<span class="txt_price d_b">
									<strong>100,000</strong>원
								</span>
							</span>
							
							<span class="product_opt d_b after_clear">
								<span class="txt_seller fl">jhyoo9161</span>
								<span class="tag_benefit">무료배송</span>
								<span class="tag_benefit">단골할인</span>
							</span>
						</a>
					</div>
				</li>
				<% } %>-->
			</ul> 
		
			<!-- 검색 전 or 결과값이 없을 때 -->
			<div class="no_result">
				<p>검색 결과가 없습니다.</p>
			</div>
		</div>
	</div>
	
	<!-- 페이지네이션 -->
	<div id="pagination">
		<div id="pArea" data-switch="0"></div>
		<script type="text/javascript">
			function setPage(totalCount, perPage, currentCount) {
				var pConfig = {
					"outerElement" : "div"
					, "outerElementClass" : "outerClass"
					
					, "parentElement" : "ul"
					, "parentElementClass" : "parentClass"
					
					, "buttonElement" : "li"
					, "buttonClass" : "buttonClass"
					
					, "prevButtonElement" : "li"
					, "prevButtonClass" : "prevButtonClass"
					, "prevButtonText" : "&lt;"
					
					, "nextButtonElement" : "li"
					, "nextButtonClass" : "nextButtonClass"
					, "nextButtonText" : "&gt;"

					, "firstButtonElement" : "li"
					, "firstButtonClass" : "firstButtonClass"
					, "firstButtonText" : "&lt;&lt;"
					
					, "lastButtonElement" : "li"
					, "lastButtonClass" : "lastButtonClass"
					, "lastButtonText" : "&gt;&gt;"
					
					, "currentButtonClass" : "currentButtonClass"
					
					, "perPage" : perPage // object count per page.
					, "totalCount" : totalCount // counting number of object.
					, "currentCount" : currentCount // ( pgae 1 = 0, page 2 = perPage * 1, page 3 = perPage * 2)
					, "pageBlockSize" : 5 // button length.
				};
				
				if($("#pArea").attr("data-switch") != 1) {
					//console.log(filter);
					view_detail_attr(filter, 'use', pConfig);	
				}
				
				var p = new Pagination();
				// param 2 : this is function name that will be called.
				p.init(pConfig, "setPage");
				document.getElementById("pArea").innerHTML = p.get();
				
				$("#pArea").attr("data-switch", "0");
			}
			
			//blar(30, 5, 0);
		</script>
	</div>
</div>

<% include ./__footer_v.ejs %>